cython
scipy
shapely
timm
h5py
submitit
scikit-image
torch>=2
git+https://github.com/mdsmith-cim/detectron2.git
pandas
pycocotools
packaging
tqdm
torchvision
tensorboard
git+https://github.com/cocodataset/panopticapi.git
timm
h5py
oflibpytorch
scikit-learn
cityscapesscripts